<!DOCTYPE html>
<html lang="en">
<head>
  include cabecera
</head>

<body>
    .container 
      .row  
        .twelve.columns   
          header
            h1 El badulaque
      .row  
        .twelve.columns.color_header_hor    
          ul.nav_horizontal
            li: a(href="/") 
                  img(src="../img/Logo_Red.png" alt="Logo de El Badulaque")
            li: a(href="/") Amigos
            li: a(href="/about") Peticiones
            li: a(href="/contact") Encargos
      .row.container-fluid  
        .twelve.columns.main_content_hor.desaparecer.aparecer-lg
          h1 Main Content
        .six-lg.twelve.columns.main_content_hor.desaparecer-lg
          h1 Second Main Content
      .row  
        .twelve.columns.six-lg   
          div   
            footer 
              p &copy;2º DAW 2025-2026 - El badulaque - Diseño de interfaces - Victor Manuel Corral Ruiz 
</body>
</html>
