<!DOCTYPE html>
<html lang="en">
<head>
  include cabecera
</head>

<body>
    .container 
      .row  
        .twelve.columns   
          header
            h1 El badulaque
      .row  
        .two.columns.color_header_ver    
          ul.nav_vertical
            li: a(href="/") 
                  img(src="../img/Logo_Red.png" alt="Logo de El Badulaque")
            li: a(href="/") Home
            li: a(href="/about") About
            li: a(href="/contact") Contact 
        .ten.columns.main_content_ver   
          h1 Main Content
      .row  
        .twelve.columns   
          div   
            footer 
              p &copy;2º DAW 2025-2026 - El badulaque - Diseño de interfaces - Victor Manuel Corral Ruiz 
</body>
</html>
