extends index.pug 

block content
        .row 
            .col
                include ./Modulos_punto/cabecera_punt.html 
        .row.mt-5.mt-md-6
            .col-12.col-md-8(style="margin-top: 4rem;")
                include ./Modulos_punto/aside_punt.html             
            .col-12.col-md-4(style="margin-top: 4rem;")
                include ./Modulos_punto/modulo_punt.html
                include ./Modulos_punto/modulo_punt.html
                include ./Modulos_punto/more.html

        
