doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="estilos.css")
    title= title
  body
    header.header
      img.header__image
      h1.header__title Listado y registro de MACs
    main.main
      block content
    footer.footer
      p.footer__p Victor Manuel Corral Ruiz 
