extends index.pug 

block content 
    .container
        include ./Modulos/header.html
        main
            .row.amigos-container
                .six.columns.bloque-principal
                    include ./Modulos/imagen-princ.html
                .six.columns.bloque-secundario
                        include ./Modulos/imagen-secun.html
                        include ./Modulos/imagen-secun.html
                        include ./Modulos/imagen-secun.html
                        include ./Modulos/imagen-secun.html
                        include ./Modulos/imagen-secun.html
                        include ./Modulos/imagen-secun.html
                        include ./Modulos/imagen-secun.html
                        include ./Modulos/imagen-secun.html
                        include ./Modulos/imagen-secun.html

        include ./Modulos/footer.html

