extends index.pug 

block content 
    .container
        include ./Modulos/header.html
        main
            include ./Modulos/marcas.html
            include ./Modulos/encargos.html
        include ./Modulos/footer.html