doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Badulaque
        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="css/skeleton.css")
        link(rel="stylesheet" href="styles.css")
    body 
        .container
            include ./Modulos/header.html
            main
                include ./Modulos/main.html
                include ./Modulos/marcas.html
            include ./Modulos/footer.html

