extends index.pug 

block content
        .row 
            .col
                include ./Modulos_index/cabecera.html 
        .row.mt-5.mt-md-6
            .col(style="margin-top: 4rem;")
                .row
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
                    include ./Modulos_index/modulo.html
        


