//Colores
// #3B060A
// #8A0000
// #c83F12
// #FFF287

body {
    background-color: #3B060A;
    color: #FFF287;

    .container {
        width: 80%;
    }
}

p{
    padding-left: 4%;
}

footer {
    text-align: center;
}

.header {
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;

    .container {
        border-radius: 20px;
        background-color: #c83F12;
        width: 100%;
    }
}

.header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;

    img {
        padding: 2%;
        max-width: 100%;
        height: auto;
        display: block;
        max-height: 125px;
    }



    .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF287;
        border-left: 3px solid #FFF287;
        width: 33%;
        height: 100%;
        text-decoration: none;
        padding: 0px 15px;
        text-align: center;
    }

    .nav-item:hover {
        color: #3B060A;
        background-color: #FFF287;
    }

    .prueba {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        align-items: center;
    }
}

main {
    padding: 2rem 2rem 2rem 2rem;
    width: 100%;
}

.main-content {
    border-radius: 20px;
    background-color: #c83F12;
    color: #FFF287;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 100%;
    }

    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            border-radius: 50%;
            background-color: #8a0000;
        }

    }

    .info-items {
        margin-left: 0%;
        text-align: center;
        padding: 2rem;
    }

    .info-landia {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ubication,
    .contact {
        margin-left: 0%;
        border-left: 3px solid #FFF287;
        color: #FFF287;
        height: 60px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact {
        border-right: 3px solid #FFF287;
    }
}

.marcas-content {
    padding: 2rem 1rem 1rem 1rem;

    img {
        border-radius: 50%;
    }

}

.amigos-container {
    height: 40rem;
    width: 100%;

    .bloque-secundario,
    .bloque-principal {
        height: 100%;
    }

    .imagen-secundaria {
        margin-left: 1%;
        height: 33%;
        padding: 0.5rem;

        img {
            height: 100%;
            object-fit: cover;

        }

    }

    .imagen-principal {
        height: 100%;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

}

.main-content-encargos {
    border-radius: 20px;
    background-color: #c83F12;
    color: #FFF287;
    padding: 2rem;
    margin: auto;

    select {
        color: gray;
        width: 90%;
        border: none;
        border-radius: 4px;
        padding: 0.5rem;
    }

    .centrar-columna {
        text-align: center;
    }

    .total {
        font-size: 5ch;
    }

    input[type="file"] {
        width: 90%;
    }

    input[type="file"]::file-selector-button {
        width: 55%;
        background-color: #FFF287;
        color: #c83F12;
        border: none;
        padding: 6px 10px;
        border-radius: 4px;
    }

    .mensaje-final {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .mensaje {
        display: flex;
        justify-content: center;
        background-color: #FFF287;
        color: #c83F12;
        border-radius: 4px;
        padding: 1rem;
    }

    .imagen-peticion {
        width: 50%;
    }

    input[type="file"]::file-selector-button:hover {
        background-color: #8A0000;
        color: #FFF287;
    }

    input[type="submit"]:hover {
        color: #FFF287;
        background-color: #8a0000;
        border: none;
    }

    input[type="submit"] {
        color: #c83F12;
        background-color: #FFF287;
        border: none;
    }

    .tabla-productos {
        border-collapse: collapse;
        width: 100%;
        text-align: left;

        thead {
            background-color: #c83F12;
        }

        th {
            padding: 10px;
            color: white;
        }

        tbody tr,
        thead tr {
            border-bottom: 2px solid #FFF287;
        }

        tfoot tr,
        tfoot tr td {
            border-bottom: none;
        }

        td {
            padding: 8px;
        }

        input[type="number"] {
            width: 60px;
            background-color: #c83F12;
            color: white;
            border: none;
            border-radius: 4px;
            text-align: center;
        }

        tbody tr:hover {
            background-color: #FFF287;
            color: #8a0000;
        }

    }



}

.datos {
    margin-left: 0%;
    padding: 1rem;

    .inputText {
        width: 90%;
    }
}