.row
    .col-lg-4
        img.rounded-circle(src="../../images/500_333.jpg" alt="Descripción de la imagen" width="140" height="140")
        h2.fw-normal Columna 1
        p Las mejores expansiones del world of warcraft
        p
            a.btn.btn-secondary(href="#") Ver detalles »

    .col-lg-4
        img.rounded-circle(src="../../images/images.jpg" alt="Descripción de la imagen" width="140" height="140")
        h2.fw-normal Columna 2
        p Algunas de las expansiones del world of warcraf que han sido infravaloradas
        p
            a.btn.btn-secondary(href="#") Ver detalles »

    .col-lg-4
        img.rounded-circle(src="../../images/images2.jpg" alt="Descripción de la imagen" width="140" height="140")
        h2.fw-normal Columna 3
        p Las expansiones del World of warcraft que han sido las peores
        p
            a.btn.btn-secondary(href="#") Ver detalles »