extends index.pug 

block content
        .row 
            .col
                include ./Modulos_iti/cabecera_iti.html 
        .row.mt-5.mt-md-6
            .col(style="margin-top: 4rem;")
                .row
                    include ./Modulos_iti/modulo_iti.html
                    include ./Modulos_iti/modulo_iti.html
                    include ./Modulos_iti/modulo_iti.html
                    include ./Modulos_iti/modulo_iti.html
                    include ./Modulos_iti/modulo_iti.html
                    include ./Modulos_iti/modulo_iti.html
                    include ./Modulos_iti/modulo_iti.html
                    include ./Modulos_iti/modulo_iti.html
                    include ./Modulos_iti/modulo_iti.html
                    include ./Modulos_iti/modulo_iti.html
                    include ./Modulos_iti/modulo_iti.html
                    include ./Modulos_iti/modulo_iti.html
        .row 
            include ./Modulos_iti/points.html
