

.main_content_hor{
    margin-top: 5rem;
    border-radius: 10px;
    padding: 3rem;
    height: 480.913px;
}


.main_content_ver{
    border-radius: 10px;
    padding: 3rem;
    height: 480.913px;
}

