.color_header_hor {
    border-radius: 10px;

    ul.nav_horizontal {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow: visible;


        li {
            width: 10%;
            margin: 0;
            display: inline-block;
            padding: 2rem 4rem 2rem 4rem;
            border-left: 3px solid #FFF287;

            a {
                text-decoration: none;
            }

            img {
                width: 50%;
                min-width: 100px;
                display: block;
                margin-top: -6.5rem;
                margin-bottom: -6.5rem;
            }
        }

        li:first-child {
            width: 70%;
            border-left: none;
        }
    }
}

.color_header_ver {
    border-radius: 10px;

    ul.nav_vertical {
        margin: 0;

        li {
            height: 10%;
            margin: 0;
            list-style-type: none;
            padding: 3rem;
            border-top: 3px solid #FFF287;

            img {
                width: 100%;
                display: block;
                transform: scale(4);
            }
        }

        li:first-child {
            height: 70%;
            border-top: none;
            padding: 8rem 3rem;
        }

        a {
            text-decoration: none;
        }
    }


}