@use "_mixins";

@media (min-width: 750px) {
    .container {
        width: 80%;
    }

    .column,
    .columns {
        margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    @include mixins.generar_columnas("lg");

    .desaparecer-lg {
        display: none;
    }

    .aparecer-lg {
        display: block;
    }

    .container-fluid {
        width: 100%;
    }
}

@media (min-width: 550px) {
    .desaparecer {
        display: none;
    }

    .aparecer {
        display: block;
    }

    .container-fluid {
        width: 100%;
    }
}